html,
body,
header,
nav {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;

  /* font-family: 'COCOGOOSE', sans-serif; */
  font-weight: 100;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
}

ul {
  margin: 0;
  list-style-type: none;
}

.topnavbar {
  background-color: var(--black);
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.topnavbaricons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topnavbaricons > li {
  padding: 7px;
}

.secnavbar > ul {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  max-height: 40px;
  padding: 15px;
}

.secmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.secmenuright {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.secmenu > li {
  padding: 0 15px;
}

.ccbutton {
  border: 4px solid var(--orange);
  color: var(--orange);
  background-color: inherit;
  padding: 10px;
}
.main{
  background-image: url('../assets/images/gradientchess.png');
}
.maincontent {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 200px;
  background-color: rgba(218, 217, 221, 0.952);
  min-height: 70vh;
  
  color: black;
}

.sharing {
  color: var(--orange);
  font-size: 27px;
}

.creative {
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 63px;
  color: var(--orange);
  font-size: 60px;
  
  -webkit-text-fill-color: rgba(200, 0, 0, 0.459);
  -webkit-background-clip: text;
  background-image: url('../assets/images/speaker1.png');
  background-blend-mode: darken;
}

.blocktext {
  border: 2px solid rgb(250, 250, 250);
  display: inline-block;
  padding: 15px;
  font-size: 13px;
}

.maindate {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.national {
  font-size: 22px;
}

.program {
  background-color: #000;
  opacity: 0.9;
  background-image: linear-gradient(135deg, #0e0e0e 25%, transparent 25%), linear-gradient(225deg, #0e0e0e 25%, transparent 25%), linear-gradient(45deg, #0e0e0e 25%, transparent 25%), linear-gradient(315deg, #0e0e0e 25%, #000 25%);
  background-position: 18px 0, 18px 0, 0 0, 0 0;
  background-size: 18px 18px;
  background-repeat: repeat;
  color: whitesmoke;
  min-height: 50vh;
}

.announce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  font-size: 20px;
}

.announcehr {
  height: 1px;
  background-color: red;
  border: none;
  width: 50px;
}

.programul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.programul > li {
  margin: 2px;
  max-width: 13%;
  padding: 10px;
  backdrop-filter: blur(4px);
  background-color: rgba(88, 88, 88, 0.39);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.speakerright > * {
  margin: 0;
}

.programul > li > * {
  margin: 7px 0;
}

.programheadtext {
  color: var(--orange);
  font-size: 20px;
  font-family: 'COCOGOOSE', sans-serif;
}

.programtext {
  font-size: 13px;
}

.programlinkwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 45px;
}

.programlink {
  color: whitesmoke;
}

.progicons {
  display: none;
}

.speakers {
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
}

.speaker {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 50%;
}

.speakername {
  font-size: 25px;
}

.speakerleft {
  padding-left: 20px;
  padding-top: 20px;
  background-image: url("../assets/images/transparant.png");
  background-repeat: no-repeat;
  background-size: 80px;
}

.speakerright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.speakerhr {
  width: 20px;
  background-color: gray;
}

.speakertitle {
  color: var(--orange);
  font-style: italic;
  font-size: 10px;
}

.speakerfunction {
  font-size: 10px;
}

.small {
  display: none;
}

@media only screen and (max-width: 768px) {
  .programul {
    flex-direction: column;
  }

  .programul > li {
    max-width: 90%;
    flex-direction: row;
  }

  .programul > li > * {
    padding: 10px;
  }

  .speakers {
    padding: 10px;
  }

  .speaker {
    max-width: 100%;
  }

  .secmenuright {
    flex-direction: column;
  }

  .secmenu {
    flex-direction: column;
    padding: 20px;
    width: 100vw;
  }

  .maincontent {
    padding: 10px;
  }

  .topnavbar {
    display: none;
  }

  .logoli {
    display: none;
  }

  .secnavbar {
    position: absolute;
    top: 0;
    max-width: -webkit-fill-available;
    display: none;
    overflow-x: hidden;
  }

  .secnavbar > ul {
    background-color: var(--gray);
    padding: 0;
    height: 100vh;
  }

  .secmenu > li {
    box-sizing: content-box;
    padding: 20px 0;
  }

  .hamburger {
    padding: 10px;
  }

  .hamburger > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .small {
    display: block;
  }
  .programul{
    padding:0;
    align-items: center;
  }
  .ccbutton{
    border:0;
    margin:0%;
    padding:0;
  }
  .closebutton{
    font-size: 250%;
    padding:15px;
    position: absolute;
    top: 5px;
    left:5px;
  }
}
